
.spaceBetween {
  height: 200px
}

.userMessage {
  font-size: 50 px;
  margin-left:auto;
  margin-right: auto;
  text-align: center;
}

.spaceUnderBoard {
  height: 100px;
}

.board {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  height: 300px;
  clear: right;
  font-size: 70px;
}

.top {
  height: 90px;

}

.middle {
  height: 90px;
}

.bottom {
  height: 90px;
}

#box1 {
  border-right: solid black;
  border-bottom: solid black;
  vertical-align: middle;
}

#box2 {
  border-right: solid black;
  border-bottom: solid black;
  vertical-align: middle;
}

#box3 {
  border-bottom: solid black;
}

#box4 {
  border-right: solid black;
  border-bottom: solid black;
}

#box5 {
  border-right: solid black;
  border-bottom: solid black;
}

#box6 {
  border-bottom: solid black;
}
#box7 {
  border-right: solid black;
}

#box8 {
  border-right: solid black;
}
