
.board {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  height: 300px;
  clear: left;
}

#box1 {
  border-right: solid black;
  border-bottom: solid black;
}

#box2 {
  border-right: solid black;
  border-bottom: solid black;
}

#box3 {
  border-bottom: solid black;
}

#box4 {
  border-right: solid black;
  border-bottom: solid black;
}

#box5 {
  border-right: solid black;
  border-bottom: solid black;
}

#box6 {
  border-bottom: solid black;
}
#box7 {
  border-right: solid black;
}

#box8 {
  border-right: solid black;
}
