.x-box {
  float: right;
  margin-right: 30%;
  border: solid black;
  padding: 50px 70px 50px 70px;
  text-align: center;
  font-size: 40px;
}

.o-box {
  float: left;
  margin-left: 30%;
  border: solid black;
  padding: 50px 70px 50px 70px;
  text-align: center;
  font-size: 40px;
}

@media (max-width: 887px) {

.x-box {
  display: none;
}

.o-box {
  display: none;
}
}
