.sign-in {
  float: right;
  margin-right: 50px;
  margin-left: auto;
}

.sign-up {
  float: right;
  margin-right: 50px;
  margin-left: auto;
}

.forms {
  height: 150px;
}

.password-change {
  display: none;
}
