.newGame {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: none;
}
.signOut {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: none;
}

.spaceBetweenButtons {
  height: 25px;
}

#successMessage {
  text-align: center;
}
